<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment 1 / Carlos Tello Dominguez</title>
</head>
<body>
<header>
    <h1>Assignment 1 / Carlos Tello Dominguez</h1>
</header>
<main>
    <h1>Enter a text of at least 10 characters.</h1>
    <form method="post" th:action="@{process}">
        <input type="hidden" th:name="todo" th:value="display">

        <p>
            <label for="userInput">Type more than 10 characters</label>
            <input id="userInput"
                   type="text"
                   th:name="userInput"
                   th:value="display">
            <button type="submit">Display</button>
        </p>

    </form>
        <p>
    <img th:each="letter: ${letters}"
                 th:src="@{|images/abc_blocks-images/block_${letter}.png|}"
                 th:alt="'block ' + ${letter}"
                 class="abc-block">
        </p>




</main>

</body>
</html>